
html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;

}

.color-hex-wrapper-default {
    height: 250px;
    width: 100%;
    text-align: center;
}

.color-container-default {
    transition: .3s ease-in-out;
    height: 250px;
}

.color-container-default:hover {
    transition: .3s ease-in-out;
    height: 350px;
}

.color-hex-wrapper {
    height: 250px;
    width: 100%;
    text-align: center;
}

.color-container {
    transition: .3s ease-in-out;
    height: 250px;
}

.color-container:hover {
    transition: .3s ease-in-out;
    height: 350px;
}

h1 {
    font-size: .75rem;
    font-weight: 100;
}